<main class="py-5 bg-body-tertiary">
  <h1><%= @image.title %></h1>
  <%= link_to 'Back to Gallery', images_path, class: 'btn btn-secondary' %>

  <% if @image.img_file.url.present? %>
    <p><%= image_tag @image.img_file.url %></p>
  <% else %>
    <p>No image available</p>
  <% end %>

  <p><%= @image.description %></p>
  <p>Uploaded at: <%= @image.uploaded_at.strftime('%d/%m/%Y - %H:%Mh') %></p>
  <%#= link_to 'Delete', image_path(@image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

</main>